@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body style="padding-left:150px; padding-right:150px">
    <div class="et_post_meta_wrapper"><h1 class="entry-title"style="text-align:center;padding-top:60px">Những trang web học lập trình cho học sinh cấp 2</h1><p class="post-meta"><span class="published">May 28, 2021</span> | <a href="https://codegym.vn/category/blog/" rel="category tag">Blog</a> | <span class="comments-number"><a href="https://codegym.vn/blog/2021/05/28/nhung-trang-web-hoc-lap-trinh-cho-hoc-sinh-cap-2/#respond">0 comments</a></span></p></div>
    <p><span style="font-weight: 400">Việc cho trẻ học lập trình nên được bắt đầu ngay từ tiểu học. </span><span style="font-weight: 400"><a href="https://tapchilaptrinh.vn/2014/05/19/nhung-loi-ich-khi-cho-tre-em-hoc-lap-trinh-som/">Việc học lập trình từ khi còn sớm</a> sẽ giúp trẻ kích thích và phát huy trí tưởng tượng, phát huy tư duy logic và toán học, nâng cao khả năng sáng tạo cho trẻ,….</span></p>
    <p><span style="font-weight: 400">Với cha mẹ, không phải ai cũng biết lập trình là gì và làm thế nào để dạy lập trình. Dưới đây là 8 trang web học lập trình miễn phí cho học sinh cấp 2 để bố mẹ có thể cùng con học tập hằng ngày!</span></p>
    <img src="~/Asset/images/1.jpg" / src="~/Asset/images/h1.jpg"  style="    text-align: center;
        width: 500px;
        height: 300px;
        margin-left:300px">
    <p><span style="font-weight: 400">Học lập trình dễ ẹc, con nít cũng làm được! Trang web này có phần dạy và viết mã trực tiếp từ trình duyệt để mọi người có thể nhanh chóng bắt đầu học. Thay vì phải viết các dòng lệnh khô khan, Code.org cho trẻ lắp ghép từng bước, từng điều kiện bằng các khối màu gần giống như chơi Lego dựa theo các nhân vật trong Game nổi tiếng (Angry Birds, Elsa,…). Ngoài chuyện lập trình, Code.org còn giúp trẻ tập suy nghĩ logic rất hay: cần làm gì trước, làm gì sau, đụng tình huống này thì nên làm gì, tình huống khác thì cần xử lý ra sao.</span></p>
    <h2><span id="2_ScratchMITedu">2. <a href="https://scratch.mit.edu/"><span style="font-weight: 400">Scratch.MIT.edu</span></a></span></h2>
    <p><span style="font-weight: 400">Đây là trang web do Viện Công nghệ Massachusetts lập ra. Nó cung cấp các kỹ năng lập trình thiết yếu cho mọi trẻ em thế kỷ 21. Được hiển thị ở hơn 40 ngôn ngữ, trang web này được dùng tại gia đình, trường học, trung tâm cộng đồng, thư viện. Học sinh có thể sáng tạo và chia sẻ các câu chuyện với nhau, với giáo viên/cha mẹ.</span></p>
    <h2><span id="3_httpbotlogicus">3. <a href="http://botlogic.us/"><span style="font-weight: 400">http://botlogic.us/</span></a><span style="font-weight: 400">&nbsp;</span></span></h2>
    <p><span style="font-weight: 400">Để luyện tư duy logic và học khái niệm lập trình, điều khiển (giúp bạn robot về được đến nhà bằng cách nhanh nhất, ít tốn pin nhất). Có rất nhiều level từ dễ đến khó, cho từ 3 tuổi tới người lớn</span></p>
    <h2><span id="4_Codecademy">4. <a href="https://quantrimang.com/url?q=aHR0cHM6Ly93d3cuY29kZWNhZGVteS5jb20v"><span style="font-weight: 400">Codecademy</span></a></span></h2>
    <p><span style="font-weight: 400">Với Codecademy, bạn có thể học các ngôn ngữ như Javascript, Python, Ruby và các ngôn ngữ khác. Đây là một website miễn phí giúp bạn học lập trình hiệu quả mà không cần máy chủ web hay bất kỳ một phần cứng / phần mềm nào.</span></p>
    <h2><span id="5_W3Schoolscom">5. <a href="https://quantrimang.com/url?q=aHR0cHM6Ly93d3cudzNzY2hvb2xzLmNvbS8%3D"><span style="font-weight: 400">W3Schools.com</span></a></span></h2>
    <p><span style="font-weight: 400">W3Schools phù hợp với những người đang học lập trình HTML, CSS, HTML5, Javascript, PHP, ASP, XML và một số ngôn ngữ khác. Bạn vừa có thể gõ để biết chính xác mọi thứ sẽ xuất hiện như thế nào nếu dùng dòng code đó. Mỗi ngôn ngữ đề có phần Try it Yourself riêng để bạn luyện tập</span></p>
    <h2><span id="6_Coursera">6. <a href="https://quantrimang.com/url?q=aHR0cHM6Ly93d3cuY291cnNlcmEub3JnLw%3D%3D"><span style="font-weight: 400">Coursera</span></a></span></h2>
    <p><span style="font-weight: 400">Coursera hướng đến các kiến thức cơ bản với nhiều chủ đề nhằm xây dựng nền tảng vững chắc cho người học trước khi tiếp cận với những nội dung cao hơn. Đây là website lý tưởng cho những người mới bắt đầu mày mò về code.</span></p>
    <h2><span id="7_edX">7. <a href="https://quantrimang.com/url?q=aHR0cHM6Ly93d3cuZWR4Lm9yZy8%3D"><span style="font-weight: 400">edX</span></a></span></h2>
    <p><span style="font-weight: 400">EdX cũng là một trang web hàng đầu cung cấp nền tảng giáo dục trực tuyến miễn phí. Hiện nay, edX cung cấp khóa học từ 60 trường đại học, học viện. Và tất nhiên, bạn không thể bỏ lỡ khóa học miễn phí hot nhất của edX: Cơ bản về Khoa học máy tính của đại học Harvard.</span></p>
    <h2><span id="8_Bob">8. <a href="https://bob.codegym.vn/home"><span style="font-weight: 400">Bob</span></a></span></h2>
    <p><span style="font-weight: 400">CodeGym Bob là một nền tảng hỗ trợ học, luyện tập thuật toán và kỹ năng giải quyết vấn đề. Các bài luyện tập trong CodeGym Bob được thiết kế để dẫn dắt và nâng kỹ năng của lập trình viên theo từng cấp độ.</span></p>
    <p><span style="font-weight: 400">Trên đây là 8 website giúp các bạn học sinh có thể tự học lập trình tại nhà, bố mẹ có thể dành thời gian mỗi ngày học 1 tiếng cùng con nhé!</span></p>
    <p>Tham khảo ngay <a href="https://codegym.vn/blog/2021/05/20/5-ung-dung-game-hoc-lap-trinh-cho-cac-ban-tu-9-15-tuoi/">5 ứng dụng học lập trình cho trẻ từ 9 – 15 tuổi</a>!</p>
</body>
</html>

