@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
    <title>Sinh viên IT có nên đi làm thêm ?</title>
</head>
<body style="padding-left:150px; padding-right:150px">
    <div class="et_post_meta_wrapper"><h1 class="entry-title" style="text-align:center;padding-top:60px">Sinh viên IT có nên đi làm thêm ? Làm công việc gì?</h1><p class="post-meta"><span class="published">May 27, 2021</span> | <a href="https://codegym.vn/category/blog/" rel="category tag">Blog</a> | <span class="comments-number"><a href="https://codegym.vn/blog/2021/05/27/sinh-vien-nam-nhat-co-nen-lam-them-khong-viec-lam-them/#respond">0 comments</a></span></p></div>
    <p>Sinh viên IT năm nhất có nên đi làm không? Năm nhất chưa có kinh nghiệm thì làm công việc gì? Đây là câu hỏi được rất nhiều bạn sinh viên quan tâm. Vậy thì trong bài viết này, chúng mình sẽ cùng nhau trả lời câu hỏi này nhé.</p>
    <div id="toc_container" class="no_bullets"><p class="toc_title">Nội dung <span class="toc_toggle">[<a href="#">ẩn</a>]</span></p><ul class="toc_list"><li><a href="#Sinh_vien_IT_lam_them_8211_Duoc_gi">Sinh viên IT làm thêm – Được gì?
                </a></li><li><a href="#Lam_them_cong_viec_gi">Làm thêm công việc gì?</a></li>
        <li><a href="#Sinh_vien_IT_lam_them_8211_mat_gi">Sinh viên IT làm thêm –&nbsp; mất gì?</a><ul><li><a href="#Bai_viet_lien_quan">Bài viết liên quan</a></li></ul></li></ul></div>
    <h2><span id="Sinh_vien_IT_lam_them_8211_Duoc_gi"><strong>Sinh viên IT làm thêm – Được gì?</strong></span></h2>
<img src="~/Asset/images/b-3.jpg" /  style="    text-align: center;
        width: 500px;
        height: 300px;
        margin-left:300px">
    <p>Khi đi làm thêm, các bạn sinh viên được tiếp xúc với xã hội sớm. Bạn sẽ “va chạm” những tình huống thực tế mà không có sách vở nào dạy được. Từ đó, các bạn sẽ có cái nhìn thực tế hơn về cuộc sống chứ không còn nhìn đời “màu hồng” như khi còn học cấp ba nữa. Ngoài thu nhập ra, các bạn sẽ có thêm các mối quan hệ, có kỹ năng giao tiếp. Đôi khi còn có thêm cả kinh nghiệm để ghi vào CV của mình sau này.</p>
    <h2><span id="Lam_them_cong_viec_gi"><strong>Làm thêm công việc gì?</strong></span></h2>
    <p>Các bạn thường nghĩ rằng, sinh viên mới ra trường thì làm gì có kinh nghiệm? Vậy thì việc đi làm thêm từ khi còn đang là sinh viên chính là cách để bạn có kinh nghiệm đấy nhé. Tuy nhiên, các bạn cần lưu ý chọn những công việc có liên quan đến ngành học và công việc của bản thân sau này. Dưới đây chúng mình sẽ gợi ý một số công việc làm thêm cho các bạn sinh viên công nghệ thông tin nhé.</p>
    <ul><li>Sửa máy tính.</li><li><a href="https://hocjavascript.net/tong-quan/kiem-thu-nhap-tu-viec-lap-trinh/">Làm thực tập sinh tại các công ty công nghệ.</a></li><li>Nhận dự án <a href="https://codegym.vn/khoa-hoc-lap-trinh-danh-cho-nguoi-moi-bat-dau/">lập trình web</a>, mobile,…</li><li>Công tác viên viết bài chuyên môn sâu về ngành công nghệ thông tin, viết bài chuẩn SEO, viết blog,…</li><li>Làm streamer, youtube, influencer,…</li><li>Thiết kế logo, banner, website,…</li><li>SEO website.</li><li>Gia sư.</li><li>Nhân viên telesale.</li><li>Công tác viên biên dịch.</li><li>…</li></ul>
    <p>Hiện nay có nhiều công việc part-time cho sinh viên ngành công nghệ thông tin. Các bạn có thể dễ dàng tìm kiếm việc làm thêm trên các trang web tuyển dụng hay group công nghệ trên facebook. Với tính chất công việc có thời gian linh động, những công việc này có sức hấp dẫn lớn với các bạn sinh viên.</p>
    <h2><span id="Sinh_vien_IT_lam_them_8211_mat_gi"><strong>Sinh viên IT làm thêm –&nbsp; mất gì?</strong></span></h2>
    <p>Khoảng thời gian học đại học là lúc tích luỹ kiến thức. Vì vậy các bạn sinh viên hãy chọn lọc những công việc làm thêm phù hợp với định hướng tương lai của bản thân mình. Nếu có thời gian đi làm thêm thì nên tìm những công việc liên quan đến ngành bạn học để tích lũy kiến thức, kinh nghiệm. Nó sẽ giúp ích cho bạn sau này. Khi đó vừa giải quyết kỹ năng ngành, vừa có kinh nghiệm nhà tuyển dụng cần có. Điều đó sẽ làm mục tiêu của bạn đến nhanh hơn.</p>
    <p>Tuy nhiên, đa số các bạn khi đi làm thêm, có thể chủ động thu nhập thì sẽ lơ là việc học. Các bạn bị cuốn theo việc kiếm tiền để thoả mãn chi tiêu bản thân. Nó ảnh hưởng tiêu cực đến công việc tương lai của các bạn. Cũng như đánh mất những cơ hội tốt hơn sau khi tốt nghiệp. Vậy nên, các bạn cần cân bằng giữa việc học và việc đi làm thêm. Nếu không thể vừa làm vừa học thì hãy chọn một trong hai thôi nhé.</p>
    <p>Hãy nhớ rằng,&nbsp; chỉ đi làm thêm khi bạn làm chủ được bản thân có nghĩa là tuyệt đối không được theo đám đông. Phải phân bổ được thời gian của chính mình thì hãy làm thêm. Còn nếu gia đình bạn có hoàn cảnh đặc biệt buộc phải đi làm thêm để chia sẻ với gia đình. Bạn phải là người đầy ý chí và nghị lực. Hi vọng sau bài viết này, các bạn đã có câu trả lời cho chính bản thân mình.</p>

</body>