@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>
<head>

</head>
<body  style="padding-left:150px; padding-right:150px">
    <div class="et_post_meta_wrapper"><h1 class="entry-title" style="text-align:center;padding-top:60px">Dành cho những người trái ngành, mong muốn chuyển sang học lập trình</h1><p class="post-meta"><span class="published">May 27, 2021</span> | <a href="https://codegym.vn/category/blog/" rel="category tag">Blog</a> | <span class="comments-number"><a href="https://codegym.vn/blog/2021/05/27/danh-cho-nhung-nguoi-trai-nganh-mong-muon-chuyen-sang-hoc-lap-trinh/#respond">0 comments</a></span></p></div>
    <p>Gần đây, chúng mình thường nhận được rất nhiều câu hỏi về chuyển ngành học lập trình. Các câu hỏi đại loại như: em đang học trái ngành, liệu có thể học lập trình được không? Em học 2 năm kinh tế rồi, giờ muốn theo đam mê là lập trình có muộn không? Sinh viên năm hai thì có thể học song ngành lập trình không?… Thực ra học lập trình không bao giờ là muộn cả. Chỉ cần bạn thích, bạn đam mê và có tư duy thì chắc chắn sẽ theo đuổi được ngành này. Tuy nhiên, trước khi chuyển sang học lập trình thì các bạn sinh viên cần biết những điều sau để không bị “bỡ ngỡ” nhé.</p>
    <h2><span id="Hoc_lap_trinh_8211_De_bi_dao_thai"><strong>Học lập trình – Dễ bị đào thải</strong></span></h2>
    <p>Lập trình là nghề ngồi, ăn, ngủ với máy tính và công nghệ. Mà công nghệ là thứ luôn thay đổi, đòi hỏi bạn phải thường xuyên cập nhật để không bị tụt lại phía sau. Để mình lấy ví dụ đơn giản cho các bạn hiểu rõ vấn đề này nhé. Trước đây, <a href="https://www.bloopanimation.com/is-flash-being-discontinued/">Flash</a> là nền tảng cực kì phổ biến, nhưng dần dần đã không còn ai sử dụng nền tảng này nữa. kéo theo đó là những người học và làm trên nền tảng này giảm dần và bị mất việc. Những người học angular trước đây đều đã chuyển sang dùng angular 2 trở lên. Kể cả những ngôn ngữ lập trình phổ biến hiện tại cũng sẽ có thể bị thay thế bởi các ngôn ngữ mới hơn.</p>
    <blockquote><p><a href="https://codegym.vn/blog/2019/11/09/25-tuoi-nen-hoc-nghe-gi-lap-nghiep-da-la-muon/"><strong>25 tuổi lập nghiệp liệu có muộn?</strong></a></p></blockquote>
    <p>Tuy nhiên, càng nhiều tuổi thì khả năng học hỏi và tiếp nhận công nghệ mới có thể sẽ chậm hơn. Chính vì vậy, tuổi nghề của nghề lập trình khá thấp. Đây là điều mà hầu hết các bạn học và làm nghề lập trình lo lắng. Tuy nhiên, hãy tin rằng chỉ cần bạn thực sự học hỏi thì bạn sẽ không bị đào thải. Tuổi nghề của bạn sẽ ngắn nếu bạn nghĩ rằng những kiến thức mình có đã là đủ rồi, không cần học thêm nữa. Bạn dựa vào kinh nghiệm 2-3 năm để offer mức lương cao hơn mà không cập nhật công nghệ mới. Bạn yên tâm với từng đó kiến thức và một mức lương đủ sống đến khi về hưu… Nếu bạn đang có những suy nghĩ đó thì nên bỏ qua để kéo dài tuổi nghề của mình.</p>
    <h2><span id="Hoc_lap_trinh_8211_Chuan_bi_tinh_than_chiu_ap_luc_va_lam_ngoai_gio"><strong>Học lập trình – Chuẩn bị tinh thần chịu áp lực và làm ngoài giờ</strong></span></h2>
    <p>Lập trình viên thường làm việc theo dự án. Khi một dự án cần ra sản phẩm gấp thì việc deadline dồn dập và làm ngoài giờ xảy ra quá là điều bình thường. Một số công ty sẽ trả thêm lương làm ngoài giờ cho bạn nhưng một số lại không. Họ coi đó là một phần công việc bạn phải hoàn thành.</p>
    <img src="~/Asset/images/3.jpg" /  style="    text-align: center;
        width: 500px;
        height: 300px;
        margin-left:300px">
    <p>Chính vì thời gian làm việc chiếm hết gần như cả ngày nên nhiều lập trình viên gặp trục trặc trong các mỗi quan hệ. Họ không thể có nhiều thời gian cho gia đình, bạn bè, người yêu và thậm chí là bản thân. Chính vì vậy mà nhiều lập trình viên thường than trời vì FA.</p>
    <h2><span id="Bi_benh_nghe_nghiep_trong_cac_moi_quan_he_doi_thuong"><strong>Bị bệnh nghề nghiệp trong các mối quan hệ đời thường</strong></span></h2>
    <p>Lập trình viên thường là người có suy nghĩ logic, càng giỏi càng suy nghĩ logic hơn. Họ làm việc với máy tính, đúng là đúng, sai là sai. Tuy nhiên mối quan hệ giữa người với người lại không như vậy.</p>
    <p>Trong công việc hàng ngày, các lập trình viên trao đổi với nhau về kĩ thuật là nhiều nên không cần kỹ năng giao tiếp phải quá tốt. Tuy nhiên khi làm việc với nhóm khác không phải lập trình viên thì bạn cần kỹ năng giao tiếp tốt. Đôi khi không phải cứ số liệu, giải pháp của bạn đúng thì người khác sẽ làm theo. Bạn cần có kỹ năng giao tiếp để thuyết phục những người đó làm theo bạn.</p>
    <h2><span id="Lap_trinh_vien_luong_cao_nhung_chua_chac_da_giau"><strong>Lập trình viên lương cao nhưng chưa chắc đã giàu</strong></span></h2>
    <p>Nhiều bạn nghĩ rằng lập trình viên lương nghìn đô mỗi tháng thì chẳng mấy mà giàu đúng không? Chưa chắc đâu nhé. Khi bạn kiếm được nhiều tiền, nhu cầu chi tiêu của bạn sẽ dần thay đổi. Trước đó có thể bạn chỉ cần cuộc sống có đủ nhưng dần dần bạn lại muốn vừa đủ vừa chất lượng nữa.</p>
    <img src="~/Asset/images/2.jpg" /  style="    text-align: center;
        width: 500px;
        height: 300px;
        margin-left:300px">
    <p>Nếu như bạn đang ôm mộng làm giàu thì hãy tìm hiểu thêm về kinh doanh hoặc đầu tư để tiền đẻ ra tiền nhé.</p>
    <h2><span id="25_tuoi_nhung_cot_song_52_tuoi8230"><strong>25 tuổi nhưng cột sống 52 tuổi…</strong></span></h2>
    <p>Do tính chất công việc là làm việc với máy tính nên hầu như lập trình viên sẽ phải ngồi cả ngày. Điều này dẫn đến các bệnh như béo phì, đau lưng, đau cổ vai gáy, thoái hoá cột sống,… Tuy vậy, nếu bạn có chế độ sinh hoạt tốt, điều độ, thể dục thương xuyên thì cũng chẳng cần lo lắng về vấn đè này đâu.</p>
    <p>Sau khi đọc hết bài viết này, bạn có còn giữ ý định chuyển nghề lập trình không? Nếu bạn vẫn còn đủ quyết tâm thì hãy thực hiện dự định của mình ngay nhé. CodeGym rất sẵn lòng hỗ trợ các bạn. Bạn vẫn còn thắc mắc về nghề lập trình ư? Hãy comment cho chúng mình biết nhé.</p>


</body>
</html>


