@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    
</head>
<body   style="padding-left:150px; padding-right:150px">
    <div class="et_post_meta_wrapper"><h1 class="entry-title" style="text-align:center;padding-top:60px">5 ứng dụng game học lập trình cho các bạn từ 9 đến 15 tuổi</h1><p class="post-meta"><span class="published">May 20, 2021</span> | <a href="https://codegym.vn/category/blog/" rel="category tag">Blog</a> | <span class="comments-number"><a href="https://codegym.vn/blog/2021/05/20/5-ung-dung-game-hoc-lap-trinh-cho-cac-ban-tu-9-15-tuoi/#respond">0 comments</a></span></p></div>
    <p><span style="font-weight: 400">Nhật Bản đang tìm cách để tạo ra một thế hệ mới gắn liền với trình độ công nghệ thông tin cao, chất lượng. Việc đưa môn Lập trình máy tính thành môn học bắt buộc từ lớp 5 bậc tiểu học là giải pháp lâu dài để đáp ứng nguồn nhân sự chất lượng cao. Tuy nhiên, tùy từng đối tượng để lựa chọn cách phổ biến môn học này như thế nào, với đối tượng học sinh, trẻ em từ 9 – 15 tuổi thì dường như dùng <strong>ứng dụng game học lập trình</strong> là phương pháp hiệu quả nhất.</span></p>
    <p><span style="font-weight: 400">Theo Mitch Resnick – người khởi xướng dự án xây dựng công cụ <a href="https://vi.wikipedia.org/wiki/Scratch_(ng%C3%B4n_ng%E1%BB%AF_l%E1%BA%ADp_tr%C3%ACnh)" target="_blank" rel="noopener">lập trình Scratch</a> dành cho trẻ em tại MIT Media Lab – giải thích rằng:</span></p>
    <p><span style="font-weight: 400">“Bằng những game học lập trình cơ bản, trẻ em học được những nguyên lý cơ bản của việc thiết kế, học được cách thử nghiệm ý tưởng mới, học được cách phân chia ý tưởng phức tạp thành những phần việc đơn giản, học được cách hợp tác với người khác để thực hiện dự án, học được cách tìm và sửa lỗi khi kết quả không được như ý, tập được tính kiên trì khi đối mặt với khó khăn. Ngày nay, đó không chỉ là những kỹ năng cần thiết cho việc lập trình, mà còn cần thiết cho nhiều hoạt động khác”.</span></p>
    <h2><span id="Vi_sao_tre_em_nen_lam_quen_voi_cac_game_hoc_lap_trinh"><b>Vì sao trẻ em nên làm quen với các game học lập trình?</b></span></h2>
    <img src="~/Asset/images/aa.jpg" src="~/Asset/images/3.jpg" /  style="    text-align: center;
        width: 500px;
        height: 300px;
        margin-left:300px" />
    <ul><li style="font-weight: 400"><span style="font-weight: 400">Giúp trẻ kích thích và phát huy trí tưởng tượng</span></li><li style="font-weight: 400"><span style="font-weight: 400">Nâng cao khả năng sáng tạo cho trẻ</span></li><li style="font-weight: 400"><span style="font-weight: 400">Rèn luyện khả năng phán đoán và xử lý tình huống</span></li><li style="font-weight: 400"><span style="font-weight: 400">Bổ sung kiến thức cơ bản về công nghệ thông tin</span></li></ul>
    <p><span style="font-weight: 400">Dù ngôn ngữ lập trình khá phức tạp nhưng trẻ em vẫn dễ dàng hiểu được chúng nhờ các ứng dụng dạy code tốt nhất.</span></p>
    <p>Thứ hai, trẻ nhỏ nào cũng vậy, để lựa chọn giữa học và chơi thì chơi vẫn được các bé chú ý đến hơn hẳn. Vậy nên thay vì cứ ép các bé vùi đầu vào sách vở, hàng đống kiến thức hoài thì các phụ huynh có thể xem xét việc kết hợp giữa học và chơi. Game học lập trình – thông qua những game nhỏ, bé sẽ học được các kiến thức cơ bản nhất của ngành công nghệ thông tin, hay cụ thể là ngành lập trình.</p>
    <p>Với các bạn đang trong lứa tuổi lớn hơn, dĩ nhiên game học lập trình vẫn khá hiệu quả vì tính vui vẻ, giải trí của nó. Nhưng ở lứa tuổi đó, điều quan trọng mà cần làm đó là xác định mục tiêu cho mình, và tập trung vào kiến thức nền tảng để có thể đi xa hơn trong tương lai.</p>
</body>
</html>

