@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body style="padding-left:150px; padding-right:150px" >
    <div class="et_post_meta_wrapper"><h1 class="entry-title" style="text-align:center;padding-top:60px">Bí kíp phỏng vấn dành cho sinh viên CNTT năm cuối khi tìm việc</h1><p class="post-meta"><span class="published">May 14, 2021</span> | <a href="https://codegym.vn/category/blog/" rel="category tag">Blog</a> | <span class="comments-number"><a href="https://codegym.vn/blog/2021/05/14/bi-kip-phong-van/#respond">0 comments</a></span></p></div>
    <p style="text-align: justify"><span style="font-weight: 400">Một trong những khó khăn của sinh viên CNTT năm cuối khi tìm việc là thiếu kinh nghiệm phỏng vấn cùng kỹ năng giao tiếp để gây ấn tượng với nhà tuyển dụng. Và để phần nào giúp đỡ những bạn sinh viên CNTT năm cuối phỏng vấn thành công vào vị trí mà bạn mong muốn thì dưới đây CodeGym xin phép được chia sẻ những bí kíp phỏng vấn để bạn có thể tham khảo.&nbsp;</span></p>
    <p style="text-align: justify"><span style="font-weight: 400">Dưới đây là một vài tips phỏng vấn thông thường mà dù bạn muốn ứng tuyển vào chắc chắn phải có. Và nếu bạn còn quan tâm đến những câu hỏi xoáy sâu vào chuyên môn hơn thì ở phía dưới là tập hợp những bộ câu hỏi kèm đáp án để bạn có thể tham khảo nhé.</span></p>
    <h3 style="text-align: justify"><span id="Dieu_1_Tu_tin"><span style="font-weight: 400">Điều 1: Tự tin</span></span></h3>
    <p style="text-align: justify"><span style="font-weight: 400">Đây là một điều hết sức quan trọng. Khi phỏng vấn, bạn cần phải nhìn vào thẳng người phỏng vấn, người hầu như là không di chuyển và không nên thay đổi trạng thái cảm xúc và hãy tỏ ra mình là người thân thiện. Bạn xem như đây là 1 buổi trò chuyện, chia sẻ để xem kiến thức của mình đến đâu, chứ đừng xem đây là một buổi sống còn, sau buổi này không pass là không còn chỗ nào nhận mình nữa. Chúng ta gạt bỏ được những quan niệm như vậy là chúng ta ắt hẳn sẽ tự tin được thôi.</span></p>
    <h3 style="text-align: justify"><span id="Dieu_2_Kien_thuc"><span style="font-weight: 400">Điều 2: Kiến thức</span></span></h3>
    <p style="text-align: justify"><span style="font-weight: 400">Đây chắc chắn là một lý do cực kỳ to lớn cho những bạn cảm giác thấy run khi đi phỏng vấn vì không biết kiến thức của mình có đủ không, có trả lời được không, vân vân và mây mây …. Dẹp bỏ những ý niệm đó đi vì mình đã nói ở trên, coi đây là một buổi chia sẻ để đánh giá lại năng lực của mình thôi.</span></p>
    <p style="text-align: justify"><span style="font-weight: 400">Và về kiến thức thì bên dưới là tập hợp những bài viết giúp các bạn ôn luyện về phỏng vấn Java một cách hiệu quả hơn. Vì lượng kiến thức khá lớn nên những kiến thức sau sẽ sưu tầm những câu hỏi phổ biến nhất nên khi đi phỏng vấn gặp những câu hỏi nào các bạn không biết thì cứ mạnh dạn trả lời là không biết và bạn sẽ tìm hiểu kĩ về nó ngay khi có cơ hội.</span></p>
    <h3 style="text-align: justify"><span id="Dieu_3_Ngoai_ngu"><span style="font-weight: 400">Điều 3: Ngoại ngữ</span></span></h3>
    <p style="text-align: justify"><span style="font-weight: 400">Việc học ngoại ngữ có lẽ không còn là vấn đề đáng phải tranh cãi khi mà kiến thức ngành được cập nhật rất nhanh. Và nếu bạn bị động chờ những tài liệu được dịch ra tiếng việt thì bạn sẽ trở nên tụt hậu rất nhanh. Hầu hết các tài liệu nghiên cứu về ngành IT đều bằng tiếng Anh, vì công nghệ nước ngoài đã đi trước chúng ta và ngành IT tại Việt Nam mới kế thừa và phát triển sau.</span></p>
    <h3 style="text-align: justify"><span id="Dieu_4_Ho_so_xin_viec_CV"><span style="font-weight: 400">Điều 4: Hồ sơ xin việc – CV</span></span></h3>
    <p style="text-align: justify"><span style="font-weight: 400">Tuỳ nơi mà có quy định riêng về hồ sơ xin việc khác nhau, nhưng cơ bản có những yếu tố sau đây: sơ yếu lý lịch, đơn xin việc, CV, giấy khám sức khỏe, bằng cấp – chứng chỉ. Tuy nhiên, bạn cần lưu ý rằng Bộ phận tuyển dụng – nơi tiếp nhận thông tin của bạn có ít kiến thức chuyên ngành. Vì vậy, đặc điểm đầu tiên trong CV của bạn phải là đủ. Đủ thông tin về những loại ngôn ngữ, kỹ năng, công nghệ sử dụng, vai trò trong nhóm mà bạn từng làm, và tốt nhất là cần khớp với JD do tuyển dụng yêu cầu.&nbsp;</span></p>
    <p style="text-align: justify"><span style="font-weight: 400">Ví dụ, hiện tại nhà tuyển dụng đăng tuyển PHP Developer, vậy thì trong số những CV được gửi đến sẽ ưu tiên lọc trước những CV có những thuật ngữ như PHP, MySQL, MVC framework, <a href="https://www.hostinger.vn/huong-dan/cms-la-gi-giai-thich-ve-cac-he-quan-tri-noi-dung/" target="_blank" rel="noopener">CMS</a>… Hồ sơ nào không có hoặc ít, hoặc thời gian làm việc không phù hợp sẽ dễ bị loại ra.</span></p>
    <p style="text-align: justify"><span style="font-weight: 400">Nếu đã tham gia qua nhiều dự án, thì bạn chỉ nên viết những dự án tiêu biểu (dự án lớn, thời gian dài, nhiều thành viên, công ty lớn, vai trò của bạn trong team,…), sau đó liệt kê những ngôn ngữ, phần mềm, mà bạn đã làm hoặc có nghiên cứu tới.&nbsp;</span></p>

</body>
</html>
